apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - HPA.yaml
  - ./../../base
  - ./../dragonfly.yaml
patches:
  - patch: |-
      metadata:       
        namespace: production
    target:
      kind: Deployment
      name: course-app   

  - patch: |-
      env:
          name: APP_MESSAGE
          value: "Welcome to the Production Environment"
          name: APP_STORE
          value: dragonfly
          name: APP_REDIS_URL
          value: "dragonfly-app.production.svc.cluster.local:6379/0"
          name: REDIS_PORT
          value: "6379" 
    target:
      kind: Deployment
      name: course-app

  - patch: |-
      env:
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi" 
            limits:
              cpu: "1"
              memory: "1Gi"       
    target:
      kind: Deployment
      name: course-app         

  - patch: |-
      spec:
        replicas: 3 
    target:
      kind: Deployment
      name: course-app    

  - patch: |-
      spec:
        replicas: 3
    target:
      kind: Dragonfly
      
  - patch: |-
      metadata:       
        namespace: production 
    target:
      kind: Dragonfly  