apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
 - HPA.yaml
 - deployment.yaml
 - ./../dragonfly.yaml
patches:
  - target:
      kind: Deployment
      name: course-app
    patch: |-
      spec:
        replicas: 3   
        namespace: production
        env:
          name: APP_MESSAGE
          value: Welcome to the Production Environment
          name: APP_STORE
          value: dragonfly
          name: APP_DRAGONFLY_URL
          value: dragonfly-app.production.svc.cluster.local:6379
          name hon : DRAGONFLY_PORT
          value: "6379"
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi" 
            limits:
              cpu: "1"
              memory: "1Gi"  

  - target:
      kind: Dragonfly
    patch: |-
      metadata:       
        namespace: production    
      spec:
        replicas: 3