apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - HPA.yaml
  - ../../base/
  - ../dragonfly.yaml
patches:

  - target:
      kind: Namespace    
    patch: |
        - op: replace
          path: /metadata
          value:
            name: production

  - target:
      kind: Deployment    
    patch: |
        - op: replace
          path: /spec/template/spec/containers/0/env/1/value
          value: "Welcome to the Production Environment"

        - op: replace
          path: /spec/template/spec/containers/0/env/2/value
          value: dragonfly

        - op: replace
          path: /spec/template/spec/containers/0/env/3/value
          value: "dragonfly-app.production.svc.cluster.local:6379/0"

        - op: replace
          path: /spec/template/spec/containers/resources
          value:
            requests:
              cpu: "500m"
              memory: "512Mi" 
            limits:
              cpu: "1"
              memory: "1Gi"       
    
        - op: replace
          path: /spec
          value: 
            replicas: 2

        - op: add
          path: /metadata
          value:
            namespace: production
            name: course-app-production 

  - target:
      kind: Dragonfly
    patch: |
        - op: replace
          path: /spec
          value: 
            replicas: 3

        - op: replace
          path: /metadata
          value:
            namespace: production
            name: dragonfly-prod