apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
 - ../../base
 - HPA.yaml
 - ../../overlays/dragonfly.yaml
patches:
  - target:
      kind: Deployment
    patch: |-
      spec:
        replicas: 3   
        namespace: prodactions
      env:
        name: APP_MESSAGE
          value: "Welcome to the Production Environment"
        name: APP_STORE
          value: dragonfly
        name: APP_DRAGONFLY_URL
          value: "dragonfly-app.prodactions.svc.cluster.local:6379"
        name: DRAGONFLY_PORT
          value: "6379"
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi" 
          limits:
            cpu: "1"
            memory: "1Gi"  

  - target:
      kind: Dragonfly
    patch: |-
      metadata:       
        namespace: prodactions    
      spec:
        replicas: 3