apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./../../base
  - ./../dragonfly.yaml
patches:
  - target:
      kind: Deployment
      name: course-app       
    patch: |-
        env:
          - name: APP_MESSAGE
            value: "Welcome to the Development Environment"
          - name: APP_STORE
            value: dragonfly
          - name: APP_REDIS_URL
            value: "dragonfly-app.development.svc.cluster.local:6379/0"
          - name: REDIS_PORT
            value: "6379"

  - target:
      kind: Deployment
      name: course-app
    patch: |-
      spec:
        replicas: 1   

  - target:
      kind: Deployment
      name: course-app
    patch: |-        
      metadata:
        namespace: development

  - target:
      kind: Dragonfly
    patch: |-
      spec:
        replicas: 1   

  - target:
      kind: Dragonfly
    patch: |-       
      metadata: 
        namespace: development