apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
 - ./course-app/base/deployment.yaml
 - ./overlays/dragonfly.yaml
patches:
  - target:
      kind: Deployment
    patch: |-
      spec:
        replicas: 1   
        namespace: development
        env:
          - name: APP_MESSAGE
            value: Welcome to the Development Environment
          - name: APP_STORE
            value: dragonfly
          - name: APP_DRAGONFLY_URL
            value: dragonfly-app.development.svc.cluster.local:6379
          - name: DRAGONFLY_PORT
            value: "6379"
  - target:
      kind: Dragonfly
    patch: |-
      spec:
        replicas: 1   
        namespace: development