apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/
  - ../dragonfly.yaml
patches:

  - target:
      kind: Namespace   
    patch: |
        - op: replace
          path: /metadata
          value:
            name: development

  - target:
      kind: Deployment 
    patch: |
        - op: replace
          path: /spec/template/spec/containers/0/env/1/value
          value: "Welcome to the Development Environment"
          
        - op: replace
          path: /spec/template/spec/containers/0/env/2/value
          value: dragonfly

        - op: replace
          path: /spec/template/spec/containers/0/env/3/value
          value: "dragonfly-app.development.svc.cluster.local:6379/0"

        - op: replace
          path: /spec
          value: 
            replicas: 1

        - op: add
          path: /metadata
          value:
            namespace: development
            name: course-app-development

  - target:
      kind: Dragonfly
    patch: |
        - op: replace
          path: /spec
          value: 
            replicas: 1

        - op: replace
          path: /metadata
          value:
            namespace: development
            name: dragonfly-dev
